<div class="big_card_container">
    <div class="big_card_picture">
        <img src="https://thumbor.guiame.com.br/unsafe/840x500/smart/https://media.guiame.com.br/archives/2019/06/10/1447807278-banda-resgate.jpg"
         alt=""
         height="200px"
         srcset=""
         >

    </div >
    
    <div class="big_card_title">
        <h1> <a href="#"> Saiu a nova versao do angular </a></h1>
    </div>
    
    <div class="big_card_description">
        
        <p>
            <a href="#">
            Olha eu galvao akskdksajdskja kjjaddnkjdsnsakjdnsadasnkjdsandkasnkdksa
            askjdshakjda lakjsdlsakjc lkalskdaj lsikj 
            </a>
        </p>
        
    </div>
</div>