<div class="big_card_container">
    <div class="big_card_picture">
        <img src="{{photoCover}}"
         alt=""
         height="200px"
         srcset=""
         >

    </div >
    
    <div class="big_card_title">
        <h1> <a [routerLink]="['content',id]"> {{ cardTitle }} </a></h1>
    </div>
    
    <div class="big_card_description">       
        <p>
            <a [routerLink]="['content',id]">
            {{cardDescription}}
            </a>
        </p>        
    </div>
</div>