<div class="small_card_container">
    <div class="small_card_container_content">
        <div class="small_card_picture">
            <img src="{{photoCover}}"
            alt=""
            srcset=""
            >

        </div >
        
        <div class="small_card_title">
            <h1> <a [routerLink]="['content',id]">
              {{cardTitle}}
            </a></h1>

        </div>
    </div>
   
    <div class="small_card_container_separator">
        <hr/>
    </div>
    
</div>


