.articles_container{
    margin-top:30px;

    display: flex;
    justify-content: center;

    flex-direction: row;
}

/* .articles_others{
    
    display: flex;
    flex-direction: column;
    
} */

